body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #4facfe;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #007bff;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}