body {
  font-family: Arial;
  text-align: center;
}

#productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.card img {
  width: 100%;
}